:root {
    --route-color: #F1F1F1;
    --route-background:#3b486d;
    --font-size:30px;
  }

.sidebar {
    width: 157px;
    height: 100vh;
    transition: 0.3s;
    padding-left: 34px;
    padding-top: 35px;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background: transparent linear-gradient(90deg, rgba(4, 4, 4, 1) 1%, rgba(4, 4, 4, 0.98) 9%, rgba(4, 4, 4, 0) 48%) 0% 0% no-repeat padding-box;
}
.profileLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transition: .3s;
}

.profileLogo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.profileLogo a {
    color: var(--route-color);
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    white-space: nowrap;
}

.sidebar:hover .profileLogo {
    opacity: 1;
}

.sidebar ul li {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 42px;
}

.sidebar ul li img {
    margin-right: 50px;
}

.sidebar:hover {
    width: 312px;
    background: transparent linear-gradient(90deg, rgba(4, 4, 4, 1) 0%, rgba(4, 4, 4, 0.98) 100%, rgba(4, 4, 4, 0) 100%) 0% 0% no-repeat padding-box
}
.sidebar:hover ul li {
    border-radius: 12px;
}
.sidebar ul li.route , .sidebar ul li.activeRoute  {
    cursor: pointer;
}
.sidebar ul li {
    width: 82px;
    height: 82px;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    
}

.sidebar ul li img {
    margin-left: auto;
    margin-right: auto;
}

.sidebar ul li a {
    visibility: hidden;
    width: 0;
}

.sidebar:hover ul li {
    width: 100%;
    height: auto;
    justify-content:unset;
}

.sidebar:hover ul li img {
    margin-right: 50px;
    margin-left: unset;
}

.sidebar:hover ul li a {
    visibility: visible;
    width: auto;
}

.sidebar ul li.route a , .sidebar ul li.activeRoute a {
    color: var(--route-color);
    font-size: var(--font-size);
    text-decoration: none;
    font-family: sans-serif;
    white-space: nowrap;
}
.sidebar ul li.activeRoute{
    background-color: var(--route-background);
}
.sidebarWrapper .sidebar:hover .sidebarWrapper .layer {
    opacity: 1;
}
